%title-328 {
  font-size: 32.8rem;
  // letter-spacing: -0.05em;
  font-family: $font-bebas;
  word-break: break-word;

  @include media("<=phone") {
    font-size: clamp(4rem, 20vw, 10rem);
    line-height: 0.9;
  }
}

%title-160 {
  font-size: 16rem;
  font-family: $font-bebas;
  letter-spacing: -0.025em;

  @include media("<=phone") {
    font-size: clamp(3rem, 12vw, 7rem);
    word-break: break-word;
  }
}
